
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
 
* { 
  margin: 0;
}

html {
  font-family: "Roboto";
}

#winner {
  color: white;
  font-size: 50px; 
  z-index: 3;
  visibility: hidden;
  opacity: 0; 
  position: fixed;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  will-change: opacity;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 
#winner.open {
  visibility: initial; 
  opacity: 1;
  transition: opacity 0.5s ease 1.5s, visibility 0.5s ease 1.5s;
}

#close {
  height: 25px;
  visibility: hidden;
  opacity: 0; 
  position: absolute;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  will-change: opacity;
  top: 40px;
  right: 40px;
  z-index: 4;
  cursor: pointer;
}

#close.open {
  visibility: initial; 
  opacity: 1;
  transition: opacity 0.5s ease 2.5s, visibility 0.5s ease 2.5s;
}

#world {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  will-change: opacity, visibility;
}

#world.open {
  visibility: initial; 
  opacity: 1;
  transition: opacity 1.5s ease, visibility 0.5s ease;
}

.background {
  whidth: 100%;
  height: 100vh;
  min-height: 700px;
  //background: linear-gradient(to bottom right, #FF8B57, #FB5656);
}

nav {
  width: 100%;
  height: 100px;
}

.navWrapper {
  width: 85%;
  margin: auto;
  padding-top: 38px;
}

.navWrapper a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
}

header {
  width: 100%;
  height: calc(100% - 100px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.namepicker {
  padding: 50px 35px 50px 35px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  display: block;
  animation: fadeIn 0.75s forwards 0s ease;
}

.namepicker p {
  color: #585858;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.namepicker input {
  width: 420px;
  color: #898989;
  font-size: 20px;
  font-weight: normal;
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px;
  border: 0;
  margin-bottom: 75px;
}

.namepicker input::placeholder {
  color: #D9D9D9;
}

.namepicker input:focus {
  outline: none;
}

.namepicker h2 {
  color: #6E6E6E;
  font-size: 48px;
  font-weight: medium;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 55px;
}

.namepicker a {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 21px 161px;
  background: linear-gradient(to right, #FF8757, #FC5F56);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 1000px;
  display: block;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    transform: skewY(25deg);
    opacity: 0;
    box-shadow: none;
  }
  100% {
    transform: scale(1);
    transform: skewY(0deg);
    opacity: 1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
}


/************************************************************************************/

body {
    background-color: #fbfbfb !important;
}

.header{
	display: flex;
}

.logo{
	background-image: url("logo.gif");
	background-size: contain;
	height: 100px;
    width: 100px;
	float: left;
}

.title{
	text-align: center;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}
.navb {
	/* margin-left: auto; */
    margin-right: 10px;
	height: fit-content;
    margin-top: 30px;
}

.nav .btn {
    margin-left: 9px;
}

.pickList{
	color: blue;
    display: flex;
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
    /* border: 1px black solid; */
    border-radius: 15px;
    margin: 25px 25px;
    padding: 15px 15px;
	flex-wrap: wrap;
    height: 150vh;
    overflow: hidden;
}

.selectedList{
	/* color:green; */
	display: flex;
	 /* border: 1px black solid; */
    border-radius: 15px;
    margin: 10px 25px;
    padding: 15px 15px;
	flex-wrap: wrap;
}

.pickListNames {
    /* border: 1px solid; */
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin: 5px;
	margin: 5px auto;
	height: fit-content; 
	flex-wrap: wrap;
	color: black;
	position: relative;
    animation-name: swing;
    //animation-name: totop;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.pickListNames:nth-child(n) {
  background: #FFDED7;
}

.pickListNames:nth-child(2n) {
  background: #FFF2D7;
}

.pickListNames:nth-child(3n) {
  background: #F8FFD7;
}

.pickListNames:nth-child(4n) {
  background: #E4FFD7;
}

.pickListNames:nth-child(5n) {
  background: #D7FFDE;
}

.pickListNames:nth-child(6n) {
  background: #D7FFF2;
}

.selectedListNames {
	/* border: 1px solid; */
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin: 5px;
	margin: 5px auto;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.selectedListNames:nth-child(n){
	background: linear-gradient( to right, hsl(133deg 85% 36%), hsl(227deg 82% 60%) );
}

.selectedListNames:nth-child(2n){
	background: linear-gradient( to right, hsl(351deg 100% 51%), hsl(227deg 82% 60%) );
}

.selectedListNames:nth-child(3n){
	background: linear-gradient( to right, hsl(224deg 100% 51%), hsl(72deg 97% 50%) );
}

.selectedListNames:nth-child(4n){
	background: linear-gradient( to right, hsl(97deg 100% 51%), hsl(0deg 97% 50%) );
}

.selectedListNames:nth-child(5n){
	background: linear-gradient( to right, hsl(224deg 100% 51%), hsl(310deg 97% 50%) );
}

.controls{
    text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.pick h3, .selected h2 {
    text-align: center;
}

.selected h2 {
    margin-top: 20px;
}

.lead button {
    float: right;
}

.hide{
	display:none;
}

.toast{
	width: fit-content !important;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0px 30px;
    border: 1px green solid !important;
    border-radius: 30px !important;
}

@keyframes totop {
    0%   {left:0px; bottom:0px;}
    /* 25%  {left:0px; bottom:100px;} */
    /* 50%  {left:0px; bottom:200px;} */
    /* 75%  {left:0px; bottom:300px;} */
    100% {left:0px; bottom:150px;}
}

@keyframes swing {
  from {left: 0px;}
  to {left: 50px;}
}